.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .navBar{

  display: inline-block;
  width: 100%;
  background-color: grey;
}
.navBar .fileName{
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  width:15%;
  text-align: center;
}
.navBar .navObjects{
  display:flex;
  float:right;
}
.navObjects .navBtn{
  background-color: #a05f5f;
  border:solid;
  border-color:rgba(228, 228, 228, 0.322);
  border-width: 2px;
  height:37px;
  padding: 2px;
  filter: invert(1);
}
.navBtn:hover{
  background-color: #d41f1f;
}
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 20em;
}

@media screen{
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}