.dndflow {
  flex-direction: column;
  display: flex;
  height:60em;
  background: rgb(3, 10, 26);
  background-image: radial-gradient(rgba(255, 255, 255, 0.329) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}
.dndflow .dndnode.inputNum {
  border-color: #00ffc8;
}
.dndflow .dndnode.outputNode {
  border-color: #ff00aa;
}
.dndflow .navBar{

  display: inline-block;
  width: 100%;
  background-color: rgba(199, 37, 37, 0.849);
}
.navBar .fileName{
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  width:15%;
  text-align: center;
  border:white;
  border-radius: 4px
}
.navBar .navObjects{
  display:flex;
  float:right;
}
.navObjects .navBtn{
  background-color: #a05f5f;
  border:solid;
  border-color:rgba(228, 228, 228, 0.322);
  border-width: 2px;
  height:37px;
  padding: 2px;
  filter: invert(1);
}
.navBtn:hover{
  background-color: #d41f1f;
}
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 57em;
}

@media screen{
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.react-flow__node-selectorNode{
  background-color: white;
  border:solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #00ffc8;
}
.selector{
  width:170px;
  height:50px;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.selectorInput{
  width:135px;
  margin: auto;
}
.selector-Output{
  border:solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #ff00aa;
}
.selector-Output #output{
  margin: auto;
}