@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-red: #000000;
  --color-purple: #eb0000;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.Title{
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 50px;
    height: 30px;
}

.area{
    background: #4e54c8;  
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 900;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.workflow{
    position: relative;
    margin-top: 3em;
    /* background-color: rgb(25, 26, 46); */
    z-index: 980;
}
.LIST{
    display: flex;
    justify-content: center;
}
.workflowUnorderList{
    list-style-type: none;
    width: 50em;
    display: inline;
    margin-left: 2.2em;
    margin-top: 1em;
    /* z-index: 980; */
}
.workflowList{
    background-color: white;
    margin-right: 4em;
    width:20em;
    display:flex;
    height:5em;
    margin-bottom: 1em;
    border-style: solid;
    /* border-color: white; */
    /* border-radius: 20%; */
    border-radius: 5px;
    float:left;
    border: none;
    background-color: #5f9ea0;
    /* border-top-width: 0.3em; */
    /* border-top-color: black; */
    /* user-select: none; */
}
.workflowName{
    width:19em;

    color:white
    /* width:60% */
}
.Name{
    margin-top: 1.3em;
    font-weight: bold;
}
.workflowList:hover{
    /* border-color: green; */
    background-color: #7fcfcf;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}
/* .workflowList:focus{
    background-color: #ffffff;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
} */
.workflowBtn{
    
    margin-top: 1.3em;
    height:40%;
    border-color: black;
    background-color: rgba(255, 0, 0, 0.767);
    border-radius: 35%;
    width: 2em;
    
}
.workflowBtn:hover{
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    background-color: rgb(253, 93, 93);
}

.delete {
    width: 8em;
    height: 35%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    font-weight: 600;
    margin-top: 3.25em;


}

.delete, .delete span {
    transition: 200ms;
}

.delete .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.delete .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(70px);
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete svg {
    width: 15px;
    fill: #eee;
}

.delete:hover {
    background: #ff3636;
}

.delete:hover .text {
    color: transparent;
}

.delete:hover .icon {
    width: 95px;
    border-left: none;
    transform: translateX(0);
}

.delete:focus {
    outline: none;
}


.create {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    transition: var(--speed-normal);
    border: 1px solid var(--color-red);
    background-color: #111;
}
.create:hover {
      color:white;
      /* border: 1px solid transparent; */
      background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png); 
      transition-delay: 0.8s;
      background-size: 180px;
      animation: animate var(--speed-fast) steps(8) forwards;
    }
/* .create:last-of-type {
      border: 1px solid var(--color-purple);
}
.create:hover {
        background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png); 
} */
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }